@media screen and (max-width: 1220px) {
  .container {
    width: 95%;
  }

  .informations {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-description {
    width: 100%;
    height: 100%;
  }

  .hero img {
    margin-top: 20px;
  }

  main {
    flex-direction: column-reverse;
  }

  .main-right {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  article {
    width: 403px;
  }
}
